<div class="row">
  <div class="col-8">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books; let i = index"
          (click)="selectBook(book)"
          [class.table-primary]="isBookSelected(book)"
          class=""
      >
        <th scope="row">{{i + 1}}</th>
        <td>{{book.author}}</td>
        <td>{{book.title}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <ba-book-details *ngIf="selectedBook"
                     [book]="selectedBook"
                     (bookChange)="updateOnBookChange($event)"></ba-book-details>
  </div>
</div>
